# Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof

# Vendor directory
/vendor/

# Build directory
/build/

# IDE files
*.idea/
*.vscode/

# Logs
*.log

# Environment variables
.env

gin-rest-api/